.logo{
  float: left;
  width: 50%;
  background-color: blue;
  display: flex;
  margin: 0%;
}
.Menu-sup{
  width: 50%;
  justify-content: space-around;
  background-color: red;
  display: flex;
  margin: 0%;
}
.Contenedor1{
  float: left;
  background-color: yellow;
  display: flex;
  margin: 0%;
  width: 50%;
}
.img-fluid{
  float:  right;
  width: 50%;
  max-width: fit-content;
  display: flex;
  margin: 0%;
}
/* Haciendo pagina responsive */ 
@media (max-width: 600px){
  .Menu-sup{
    flex-direction: column;
  }
}